HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
notes.txt


Terraform/.tfstate
deploy.txt
Terraform/env/prod/.terraform/
Terraform/env/dev/.terraform
*.terraform/
*.tfstate
*.tfstate.backup
banking-app-config.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

errors.txt
./notes.txt
